html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

nav {
  display: block;
  background-color: #eee;
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 10vw;
  font-family: 'Raleway', sans-serif;

}

.navigation {
  text-align: center;
}

nav h1 {
  position: relative;
  padding-top: 2vw;
  font-size: 4rem;
}

ul {
  padding-top: 3vw;
  list-style-type: none;
  text-decoration: none;
  font-size: 2rem;
}

ul li {
  padding-top: 5vw;
  text-align: right;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: #251842;
}
/* Title container */
.display-title {
  display: block;
  position: relative;
  width: 90vw;
  height: 95vh;
  left: 10vw;
  max-width: 100%;
  max-height: 100%;
  background-image: url("../images/placeholder-16by9.svg");
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.display-title h1 {
  position: relative;
  background-color: black;
  color: white;
  margin: auto;
  font-size: 5rem;
  width: 300px;
  height: 90px;
  text-align: center;
  top: 29vh;
}

.display-title  #button {
  text-align: center;
}

#coolcakes {
  position: relative;
  left: 20vw;
}

.btn {
  position: relative;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  padding: .4em .75em .3em;
  color: #fff;
  border: 3px solid #000;
  background-color: #333;
  top: 40vh;
}

.btn-primary:hover {
  background-color: #000;
}

.social-icons {
  background-color: rgb(200, 200, 200);
  display: block;
  font-size: 2.5rem;
  position: fixed;
  text-align: center;
  height: 54px;
  width: 90vw;
  left: 10vw;
  bottom: 0;
}
