@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  }

/* Mobile */
  .motto {
    font-family: Dosis, sans-serif;
    margin: 10px;
    font-size: 1.1em;
    color: #fff;
  }

  .truffles {
   margin-top: 15px;
   padding-left: 20px;
   padding-right: 20px;
   font-family: 'Dosis', sans-serif;
   color: #fff;
  }

  nav {
    display: inline-block;
    background-color: #eee;
    text-align: center;
    font-family: Raleway, sans-serif;
    width: 100%;
    padding-bottom: 15px;

  }

  .navigation {
    margin-top: 0;
    padding: 0;
  }

.logo-image {
  width: 50%;
  margin: 50px;
  text-align: center;
}

  img {
    width: 100%;
    margin-top: 10px;
  }

  ul {
    padding-top: 3vw;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
  }
ul li {
  padding-top: 5vw;
  text-align: center;
  display: inline-block;
  padding-top: 5px;
  padding: 0;
}

/* Nav Boxes */
  .social li {
    padding-top: 5vw;
    text-align: center;
    width: 4%;
    display: inline-block;
    margin: 0 1.7rem;
    padding-top: 5px;
    padding: 0;

  }

  a {
    text-decoration: none;
    color: #251842;
  }

  /* Title container */
  .button-container {
    position: relative;
    top: 40vh;
    item-align: center;
  }

  .display-title {
    display: block;
    position: relative;
    width: 100%;
    height: 90vh;
    max-width: 100%;
    max-height: 100%;
    background-image: url("../images/placeholder-16by9.svg");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .display-title h1 {
    position: relative;
    background-color: black;
    color: white;
    margin: auto;
    font-size: 3rem;
    top: -100px;
    width: 300px;
    height: 57px;
    text-align: center;
  }

  .display-title  #button {
    text-align: center;
  }

  #coolcakes {
    position: relative;
    left: 20vw;
  }

  .btn{
    margin-top: 30px;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    padding: .4em .75em .3em;
    color: #fff;
    border: 3px solid #000;
    background-color: #333;
    min-top: 40vh;
  }

  footer {
    min-height: 10vh;
    margin-top: 15px;
  }

  footer img {
    display: inline-block;
  }

  footer ul {
    flex-direction: row;
    padding-top: 1vh;
  }

  .social li {
    item-align: center;
  }
}


/* Tablet */
@media only screen and (min-width: 38em) {

  .motto {
    font-family: Dosis, sans-serif;
    margin: 10px;
    font-size: 1.1em;
    color: #fff;
  }

  .truffles {
   margin-top: 15px;
   padding-left: 20px;
   padding-right: 20px;
   font-family: 'Dosis', sans-serif;
   color: #fff;
  }

  nav {
    display: inline-block;
    background-color: #eee;
    text-align: center;
    font-family: Raleway, sans-serif;
    width: 100%;
    padding-bottom: 15px;

  }

  .navigation {
    margin-top: 0;
    padding: 0;
  }

.logo-image {
  width: 50%;
  margin: 50px;
  text-align: center;
}

  img {
    width: 100%;
    margin-top: 10px;
  }

  ul {
    padding-top: 3vw;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
  }
ul li {
  padding-top: 5vw;
  text-align: center;
  display: inline-block;
  padding-top: 5px;
  padding: 0;
}

/* Nav Boxes */
  .social li {
    padding-top: 5vw;
    text-align: center;
    width: 4%;
    display: inline-block;
    margin: 0 1.7rem;
    padding-top: 5px;
    padding: 0;

  }

  a {
    text-decoration: none;
    color: #251842;
  }

  /* Title container */
  .button-container {
    position: relative;
    top: 40vh;
    item-align: center;
  }

  .display-title {
    display: block;
    position: relative;
    width: 100%;
    height: 90vh;
    max-width: 100%;
    max-height: 100%;
    background-image: url("../images/placeholder-16by9.svg");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .display-title h1 {
    position: relative;
    background-color: black;
    color: white;
    margin: auto;
    font-size: 3rem;
    top: -100px;
    width: 300px;
    height: 57px;
    text-align: center;
  }

  .display-title  #button {
    text-align: center;
  }

  #coolcakes {
    position: relative;
    left: 20vw;
  }

  .btn{
    margin-top: 30px;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    padding: .4em .75em .3em;
    color: #fff;
    border: 3px solid #000;
    background-color: #333;
    min-top: 40vh;
  }

  footer {
    min-height: 10vh;
    margin-top: 15px;
  }

  footer img {
    display: inline-block;
  }

  footer ul {
    flex-direction: row;
    padding-top: 1vh;
  }

  .social li {
    item-align: center;
  }
}




  /* Desktop */
  @media only screen and (min-width: 90em) {

    nav {
      display: block;
      background-color: #eee;
      text-align: center;
      position: fixed;
      height: 100vh;
      min-width: 10vw;
      font-family: 'Raleway', sans-serif;
    }

    .navigation {
      text-align: center;
      padding-bottom: 25px;
    }

    nav h1 {
      position: relative;
      padding-top: 2vw;
      font-size: 4rem;
    }

    ul {
      padding-top: 3vw;
      list-style-type: none;
      text-decoration: none;
      font-size: 2rem;
    }

    ul li {
      padding-top: 5vw;
      text-align: right;
      margin-right: 40px;

    }

    a {
      text-decoration: none;
      color: #251842;
    }

    /* Title container */
    .button-container {
      position: relative;
      top: 40vh;
    }

    .display-title {
      display: block;
      position: relative;
      width: 90vw;
      height: 90vh;
      left: 10vw;
      max-width: 100%;
      max-height: 100%;
      background-image: url("../images/placeholder-16by9.svg");
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .display-title h1 {
      position: relative;
      background-color: black;
      color: white;
      margin: auto;
      font-size: 3rem;
      top: -100px;
      width: 300px;
      height: 57px;
      text-align: center;
    }


    .display-title  #button {
      text-align: center;
    }

    #coolcakes {
      position: relative;
      left: 20vw;
    }

    .btn{
      margin-top: 30px;
      position: relative;
      text-decoration: none;
      border-radius: 8px;
      display: inline-block;
      padding: .4em .75em .3em;
      color: #fff;
      border: 3px solid #000;
      background-color: #333;
      min-top: 40vh;
    }
    footer {
      min-height: 10vh;
      margin-top: 15px;
    }
    footer img {
      display: inline-block;
      height: 45px;
    }
    footer ul {
      position: relative;
      display: inline-flex;
      flex-direction: row;
      padding-top: 1vh;
      justify-content: center;
      align-items: center;
      left: 21%;
    }

    .social li {
      padding-top: 0;
    }
  }
